/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f8f9fa;
    color: #343a40;
    font-size: 16px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: white;
}

nav {
    background-color: #343a40;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 80px;
    justify-content: space-around;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #007bff;
    color: #ffffff;
    border-radius: 5px;
}

.link{
    width: 10px;
    height: 4px;
    text-align: center;
    color: #007bff;    
}

.container {
    flex: 1;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 15%;
    margin-right: 15%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1, h2, h3, h4, h5, h6 {
    color: #007bff;
    margin-bottom: 20px;
}

.login-container {
    background-color: #ffffff;
    padding: 30px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 100px;
    width: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.login-container h1 {
    color: #007bff;
    margin-bottom: 30px;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container label {
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
}

.login-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.login-container input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
}

.login-container button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1em;
}

.login-container button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

.admin-container {
    padding-top: 60px; /* Space for fixed header */
    padding-bottom: 40px; /* Space for fixed footer */
    margin-right: 20%;
    margin-left: 20%;
}

/* Table styles */
.admin-container table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.admin-container table, th, td {
    border: 1px solid #ddd;
}

.admin-container th, td {
    padding: 10px;
    text-align: left;
}

.admin-container th {
    background-color: #007bff;
    color: white;
}

/* Form styles */
.admin-container form {
    display: flex;
    flex-direction: column;
}

.admin-container form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.admin-container form input, form select, form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}


.admin-container form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.admin-container form button:hover {
    background-color: #0056b3;
}


.error {
    color: red;
    margin-top: -10px;
    margin-bottom: 20px;
}

/* Responsive design */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }
    
    nav ul li {
        margin: 5px 0;
    }
    
    .container {
        padding: 10px;
    }
    
    header h1 {
        font-size: 2em;
    }
}
